<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" parallel="tests" thread-count="2">
    <test name="Test1">
        <classes>
            <class name="com/topcoder/TestCase.java"/>
        </classes>
    </test>
    <test name="Test2">
        <classes>
            <class name="com/topcoder/TestCase.java"/>
        </classes>
    </test>
    <!-- Adicione mais testes conforme necessário -->
</suite>
